.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-itinerario {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
    font-family: "titulo01";
    font-size: 100px;
}

.itinerario-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.itinerario-ceremonia {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 30px;
    max-width: 30%;
    height: 400px;
    background-color: var(--color-grisPizarra);
    margin-right: 70px;
    color: var(--color-grisClaro);
    font-family: "textos";
    font-size: 20px;
    border-radius: 10px;
}

.itinerario-recepcion {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    max-width: 30%;
    height: 400px;
    margin-left: 70px;
    background-color: var(--color-grisPizarra);
    color: var(--color-grisClaro);
    font-family: "textos";
    font-size: 20px;
    border-radius: 10px;
}