.countdown-timer-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px; /* Ajusta el ancho máximo según tus preferencias */
    margin: 0 auto; /* Centrar horizontalmente */
}
  
.countdown-item {
    text-align: center;
}

.pizarra {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
    background-color: var(--color-grisPizarra);
}
.rosado {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
    background-color: var(--color-beigeRosado);
}

.countdown-item h4 {
    font-size: 60px; /* Ajusta el tamaño de fuente de los números según tus preferencias */
    margin-bottom: 85px; /* Espacio inferior para separar el número de las palabras */
    color: var(--color-grisClaro);
}
  
.countdown-item span {
    display: block;
    font-size: 40px;
}
  
.title-contador {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
    font-family: "titulos";
    font-size: 25px;
}
  