.menu-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: white;
}

.ant-menu-item {
    font-size: 20px;
}

.letrasH img {
    position: absolute;
    top: 0;
    left: 20px;
    width: 100px;
    height: 100px;
}