.container-vestimenta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.title-vestimenta {
    text-align: center;
    margin-bottom: 0;
    margin-top: 30px;
    font-family: "titulo01";
    font-size: 100px;
}

.text-help {
    font-family: "textos";
}

.vestimenta-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

.imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}
.hombres {
    width: 200px;
    height: 200px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .title-vestimenta {
        text-align: center;
        margin-bottom: 0;
        margin-top: -30px;
        font-family: "titulo01";
        font-size: 50px;
    }
    
    .hombres {
        width: 100px;
        height: 100px;
    }
    .container-vestimenta {
        margin-top: 20px;
        padding-bottom: 10px;
    }
}